<html>
<head>
    <title>Brusters Ice Cream</title>

</head>
<body>
    <h1>Bruster's Ice Cream</h1>
    <h2>Menu</h2>
    <ul>
        <li>
            <span><a href="/flavor/new/">Add New Flavor</a></span>
            <span><a href="#">All</a></span>
            <span><a href="#">Daily</a></span>
            <span><a href="#">Weekly</a></span>
            <span><a href="#">Seasonal</a></span>
        </li>
    </ul>
    <div>
        {% block content %}
        {% endblock content %}
    </div>


</body>
</html>