{% load static %}

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Bruster's Ice Cream</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    <div class = 'header'>
        <h1 class="main_title">Bruster's Ice Cream</h1>
        <div class="home"><a href="{% url 'home' %}">Home</a></div>
        <div class="create"><a href="{% url 'create_view' %}">Add New Flavor</a></div>
    </div>
    <div class="menu_bar">
        <h2>Flavor Menu</h2>
        <ul>
            <li>
                <span><a href="{% url 'selection' available='daily' %}">Daily</a></span>
                <span><a href="{% url 'selection' available='weekly' %}">Weekly</a></span>
                <span><a href="{% url 'selection' available='seasonal' %}">Seasonal</a></span>
                <span><a href="{% url 'selection' available='all' %}">All</a></span>


            </li>
        </ul>
    </div>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <div class="social-media">
        <h2>Follow Us on Social Media</h2>
        <ul class="social-media-icons">
            <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="www.instagram.com"><i class="fab fa-instagram"></i></a></li>
            <li><a href="www.twitter.com"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
    <footer>
        <p><i class="far fa-copyright"></i>July 4, 1776, Merica is AWESOME., LLC</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>